@using Entity.Models;
@model List<Student>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">Öğrenciler</h3>

    </div>

</div>

@{
    int count = 0;
}

@if (!Model.Any())
{
    <div class="alert alert-info">
        <strong>Hiç öğrenci kaydı bulunamadı. </strong>
    </div>
}

else
{
    <div class="col-lg-12">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Öğrenciler</h4>

                <div class="table table-hover">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Ad Soyad</th>
                                <th>Email</th>
                                <th></th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                count++;

                                <tr>
                                    <td>@count</td>
                                    <td>@item.Name @item.Surname</td>
                                    <td>@item.Email</td>
                                    <td>
                                        <button onclick="deleteStudent(@item.StudentID)" type="submit" class="btn btn-outline-danger"><i class='mdi mdi-delete'></i>Sil</button>
                                        <a asp-action="EditStudent" asp-route-id="@item.StudentID" class="btn btn-outline-primary"><i class='mdi mdi-pencil'></i>Düzenle</a>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
       
    </div>
}
<div class="col-lg-12">
<a href="/Student/AddStudent" class="btn btn-outline-primary">Yeni Öğrenci Ekle</a>
</div>

<script>
    function deleteStudent(id) {
        Swal.fire({

            title: 'Silmek istediğinize emin misiniz?',
            text: 'Bu öğeyi silerseniz geri alamazsınız!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Sil',
            cancelButtonText: 'İptal'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "/Student/DeleteStudent?id=" + id; // Yönlendirilecek URL'yi buraya yazın
            }
        });
    }
</script>