@using Entity.Models;
@model Instructor



    <div class="card">
        <img class="card-img-top" src="@Model.CoverImage" alt="Card image cap">
        <div class="card-block little-profile text-center">
            <div class="pro-img"><img src="@Model.Image" alt="user" /></div>
            <h3 class="m-b-0">@Model.Name @Model.Surname</h3>
            <p>@Model.Title</p>
            <a href="javascript:void(0)" class="m-t-10 waves-effect waves-dark btn btn-primary btn-md btn-rounded">Takip Et</a>
            <div class="row text-center m-t-20">
                <div class="col-lg-4 col-md-4 m-t-20">
                    <h3 class="m-b-0 font-light">109</h3><small>Kursları</small>
                </div>
                <div class="col-lg-4 col-md-4 m-t-20">
                    <h3 class="m-b-0 font-light">3469</h3><small>Öğrencileri</small>
                </div>
                <div class="col-lg-4 col-md-4 m-t-20">
                    <h3 class="m-b-0 font-light">135</h3><small>Yorumlar</small>
                </div>
            </div>
        </div>
    </div>

