@using Entity.Models;
@model List<Instructor>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">Eğitmenler</h3>

    </div>

</div>

@{
    int count = 0;
}

<div class="col-lg-12">
    <div class="card">
        <div class="card-block">
            <h4 class="card-title">Eğitmenler</h4>

            <div class="table table-hover">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Ad Soyad</th>
                            <th>Unvan</th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            count++;

                            <tr>
                                <td>@count</td>
                                <td>@item.Name @item.Surname</td>
                                <td>@item.Title</td>
                                <td>
                                    <button onclick="deleteInstructor(@item.InstructorId)" type="submit" class="btn btn-outline-danger">Sil</button>
                                    <a asp-action="EditCategory" asp-route-id="@item.InstructorId" class="btn btn-outline-primary">Düzenle</a>

                                    <a href="/InstructorAnalysis/Index/@item.InstructorId" class="btn btn-outline-success">Detaylar</a>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <a href="/Category/AddCategory" class="btn btn-outline-primary">Yeni Eğitmen Ekle</a>
</div>


<script>
    function deleteInstructor(id) {
        Swal.fire({

            title: 'Silmek istediğinize emin misiniz?',
            text: 'Bu öğeyi silerseniz geri alamazsınız!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Sil',
            cancelButtonText: 'İptal'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "/Instructor/DeleteInstructor?id=" + id; // Yönlendirilecek URL'yi buraya yazın
            }
        });
    }
</script>