@using Entity.Models;
@model List<Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">Kategoriler</h3>
       
    </div>
   
</div>

@{
    int count = 0;
    var status = "";
    var color = "";
    var button = "";
}

<div class="col-lg-12">
    <div class="card">
        <div class="card-block">
            <h4 class="card-title">Kategoriler</h4>
          
            <div class="table table-hover">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Kategori Adı</th>
                            <th>Ana Sayfada Görünüm</th>
                            <th></th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            count++;
                            if (item.Status == true) { status = "Görünüyor"; color = "success"; button = "Görünmesin"; } else { status = "Görünmüyor"; color = "danger"; button = "Görünsün"; }

                        <tr>
                            <td>@count</td>
                            <td>@item.CategoryName</td>
                            <td class="text-@color" >@status</td>
                            <td>
                                    <a asp-action="ChangeStatus" asp-route-id="@item.CategoryId" class="btn btn-outline-info">@button</a>
                                    <button onclick="deleteCategory(@item.CategoryId)" type="submit" class="btn btn-outline-danger"><i class='mdi mdi-delete'></i>Sil</button>
                                    <a asp-action="EditCategory" asp-route-id="@item.CategoryId" class="btn btn-outline-primary"><i class='mdi mdi-pencil'></i>Düzenle</a>
                            </td>
                           
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <a href="/Category/AddCategory" class="btn btn-outline-primary">Yeni Kategori Ekle</a>
</div>


<script>
    function deleteCategory(id) {
        Swal.fire({
          
            title: 'Silmek istediğinize emin misiniz?',
            text: 'Bu öğeyi silerseniz geri alamazsınız!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Sil',
            cancelButtonText: 'İptal'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "/Category/DeleteCategory?id=" + id; // Yönlendirilecek URL'yi buraya yazın
            }
        });
    }
</script>