@model List<CourseDto>

@{
    var score = "";
    
}
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Kurslarımız</h6>
            <h1 class="mb-5">Popüler Kurslar</h1>
        </div>
        <div class="row g-4 justify-content-center">

            @foreach (var item in Model)
            {
                
            
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="course-item bg-light">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid" src="@item.Image" style="width:410px;height:270px" alt="">
                        <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                            <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">@item.CategoryName</a>
                            <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Şimdi Katıl</a>
                        </div>
                    </div>
                    <div class="text-center p-4 pb-0">
                        <h3 class="mb-0">@item.Price ₺</h3>
                 
                        <h5 class="mb-4">@item.CourseName</h5>
                    </div>
                        <div class="text-center p-4 pb-0">

                            
                            
                           
                            @if (item.AvgReviewScore != null)
                            {
                                <h5 class="mb-4">Puanı: @item.AvgReviewScore</h5>
                            }
                            else
                            {
                                <h5 class="mb-4">Puanı: Hiç Değerlendirilmemiş</h5>
                            }

                           
                        </div>
                    <div class="d-flex border-top">
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-user-tie text-primary me-2"></i>@item.NameSurname </small>
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-clock text-primary me-2"></i>@item.CourseTime Saat</small>
                        <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>@item.Quota Öğrenci</small>
                    </div>
                </div>
            </div>
          
            }

        </div>
    </div>
</div>